<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
          <h1>Organise ton Evenement</h1>
          <p>Le concept : en quelque clique seulement créer un évenement, invite tes amis et 
          fait une liste des choses à emporter pour passer une bonne soirée !</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1>Organise un apéritif</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorem, voluptates, voluptas, consequatur hic animi cumque saepe culpa ut at magni rem temporibus est rerum aut delectus tempora inventore numquam.
        </p>
    </div>
</div>
